# Lab 1 -- Regression

In [1]:
from sklearn import datasets
ds = datasets.load_boston()
print(ds.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [2]:
import pandas as pd
X = pd.DataFrame(ds.data,columns = ds.feature_names)
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [3]:
y = ds.target
y

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [5]:
X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [6]:
X.isnull().sum().sum()

0

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = .2)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((404, 13), (102, 13), (404,), (102,))

In [8]:
y_train

array([19.3, 34.6, 50. , 17.1, 25.2, 14.1, 20.1, 25. , 27.1, 33.4, 35.2,
       19.7, 12.5, 19.3, 18.4, 20.2, 17.4, 29. , 20.8, 13.8, 42.3, 20.6,
       17. , 16. , 14.5, 50. ,  7.5, 11.5, 23.3, 36.2, 22.6, 25.1, 15. ,
       23.1, 18.6, 18.3, 14.3, 10.2, 20.6, 36.1,  7.2, 19.9, 19.5, 12. ,
       21.1, 22. , 17.2, 13.5, 24.3, 22.2, 18.9, 34.9,  7.4, 18.9, 22.2,
       27.1, 18.2, 13.9, 22.9, 18.8, 29.8, 15.1, 43.5, 20.7, 13.3, 22.6,
       46. , 28.4, 19.4, 16.7, 16.3, 23. , 29. , 14.4, 21. , 32.9, 32. ,
       19.2, 23.3, 50. ,  9.6, 16.6,  8.1,  8.5, 20. , 30.1,  7.2, 15.6,
       22.6, 25. , 19. , 30.3, 33. ,  7. , 18.2, 11.7, 21.2, 37.2, 28.4,
       19.2, 20.8, 17.5, 22.2, 16.2, 26.4, 26.6, 17.8, 21.5, 17.4, 27.5,
       20.7, 23.7, 24.8, 23.5, 15.2, 30.1, 22.9, 13.8, 28.2,  9.5, 15.3,
       11.7, 31.5, 24.1, 21.4, 10.5, 50. , 21.8, 34.7, 24.7, 23.4, 23.9,
       18.9, 12.7, 22.8, 23.1, 19.8, 22.7, 14.6, 10.8, 30.7, 33.4, 23.1,
       18.7, 20.5, 19.1, 31.6, 13.8, 22.3, 23.6, 29.6, 18.4, 13.6, 21.4,
       37. , 22.2, 21.4, 24.4, 23.7, 31.5, 18.9, 20.1, 10.9, 19.9, 13.9,
       44. , 14.9, 22.1, 19.8, 50. , 37.9, 21.7, 22. , 10.4, 23.6, 24.1,
       35.4, 20.4, 17.6, 33.2, 20.4, 15.2, 34.9, 17.2, 18.5, 43.1, 15.4,
       25.3, 12.1, 13.2, 29.8, 21.2, 20.6, 24.8, 20.9, 14.6, 50. , 21. ,
       13.4, 14.4, 22.8, 15.2, 27.5, 21.4, 13.4, 13.6, 18.5, 35.1,  8.8,
       20.4, 13.4, 50. , 19.6, 13.1, 27.5, 12.8, 27.9, 43.8, 36.5, 50. ,
        5.6, 32.2, 36.2, 16.1, 18.1, 32.4, 15.6, 29.9, 17.2, 17.1, 22.4,
        8.4, 23.3, 22.4, 20.4, 22.9, 20.1, 28.7, 10.5, 16.1, 23.2, 13.3,
       20.6, 50. , 20. , 32.5, 11.8, 21.7, 50. , 28.5, 23.2, 24.6, 13. ,
       19.6, 20.5, 33.8, 29.6, 28.7, 19.6, 23.2, 20.9, 19.4, 15. , 14. ,
       28.1, 14.9, 25. , 18. , 13.1, 22.9, 25. , 10.2,  8.4, 16.5, 29.4,
       20.1, 23.7,  7. , 18.2, 24.5, 19.1,  8.7, 15.7, 11. , 19.4, 21.7,
       37.3, 21. , 23.1, 50. , 24.7, 21.6, 18.6, 20. , 22.5, 28.6,  7.2,
       18.8, 19.6, 14.8, 19.8, 17.8, 23.1, 14.5, 24.2, 20. , 22. , 24. ,
       15.4, 48.3, 20.6, 26.5, 27.9, 36.4, 23.1, 32. , 19.7, 17.5, 19.4,
       12.3,  8.8, 14.2, 16.4, 16.8, 50. , 37.6, 19.6, 21.2, 20.3, 17.8,
       24. , 24.4, 42.8,  8.5, 19.9, 17.4, 21.2, 15.6, 41.7, 16.6, 19.5,
       22. , 21.5, 11.9, 22. , 23.8, 18.7, 27. , 18.7, 22.6, 17.1, 25. ,
       35.4, 14.9, 26.4, 28. , 23.7, 19.1,  5. , 19.4, 23. , 21.6, 13.3,
       28.7, 31.7, 13.4, 13.5,  8.3, 20.5,  9.7, 18.4, 30.8, 23.9, 20.6,
       14.1, 12.7, 50. , 24.7, 30.5, 16.1, 29.1, 24.3, 12.6, 22.6, 32.7,
       16.8, 11.8, 33.1, 25. , 31. , 22.8, 31.6, 21.7, 19.3, 20.3, 17.3,
       24.1, 24.5, 21.9, 23.4, 22.3, 50. , 24.4, 11.3])

In [9]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
#data standarlizing
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)
#algorithm define & using algorithm to train the data
from sklearn.linear_model import LinearRegression
LinearRegressionObject = LinearRegression(normalize = True)
LinearRegressionObject.fit(X_train,y_train)
print('Wx:',LinearRegressionObject.coef_)
print('b:',LinearRegressionObject.intercept_)
from sklearn.metrics import mean_squared_error,r2_score
y_pred = LinearRegressionObject.predict(X_test) #use X_test for prediction
#using the chosen algorithm to calculate MSE & R2 score(效能指標)
print('MSE:',mean_squared_error(y_test,y_pred))
print('R2:',r2_score(y_test,y_pred))

Wx: [-8.18155725e-02  4.55285711e-02 -5.49987945e-03  2.86876691e+00
 -1.77171620e+01  3.53226497e+00  4.29597704e-03 -1.38912714e+00
  2.80958599e-01 -1.02922921e-02 -9.06803261e-01  1.13055428e-02
 -5.47527859e-01]
b: 35.96043932198337
MSE: 22.14255800889445
R2: 0.7460264134441845

In [10]:
LinearRegressionObject.score(X_test,y_test)

0.7460264134441845

In [11]:
#計算RMSE記得開根號
print('RMSE:',mean_squared_error(y_test,y_pred)**.5)

RMSE: 4.705587955706965

# Scikit-Learn二次迴歸求迴歸方程式

In [12]:
#2次迴歸
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree = 2)
X2 = poly.fit_transform(X)

In [13]:
#再次切割資料
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X2,y,test_size = .2)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((404, 105), (102, 105), (404,), (102,))

In [14]:
#再次訓練
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
#data standarlizing
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)
#algorithm define & using algorithm to train the data
from sklearn.linear_model import LinearRegression
LinearRegressionObject = LinearRegression(normalize = True)
LinearRegressionObject.fit(X_train,y_train)

LinearRegression(normalize=True)

In [15]:
LinearRegressionObject.score(X_test,y_test)

0.6183205834978447

# Scikit-Learn三次迴歸求迴歸方程式

In [16]:
#3次迴歸
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree = 3)
X3 = poly.fit_transform(X)
#再次切割資料
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X3,y,test_size = .2)
X_train.shape,X_test.shape,y_train.shape,y_test.shape
#再次訓練
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
#data standarlizing
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)
#algorithm define & using algorithm to train the data
from sklearn.linear_model import LinearRegression
LinearRegressionObject = LinearRegression(normalize = True)
LinearRegressionObject.fit(X_train,y_train)
LinearRegressionObject.score(X_test,y_test)

-825.5956138976534